<br>
<label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
</label>
<br>
<br>    
<button mat-raised-button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<br/>
<br/>
<mat-card class="example-card" *ngIf="responseRetrieved">
<mat-card-header>
    <mat-card-title>Resume's Processed Response</mat-card-title>
</mat-card-header>
<mat-card-content>
    <div>
        <table style="width:50%">
            <tr> 
                <th>Matching Skillset</th>
                <th>{{fileResultResponse.profile_category_match_skillset}}</th> 
            </tr>
            <tr>
                <th>Profile Category</th>
                <th>{{fileResultResponse.profile_category}}</th> 
            </tr>
            <tr>
                <th>Profile Score</th>
                <th>{{fileResultResponse.profile_category_score}}</th> 
            </tr>  
            <tr>
                <th>Resume Name</th>
                <th>{{fileResultResponse.filename}}</th> 
            </tr>        
        </table>
    </div>
</mat-card-content>
</mat-card>
<app-alerts></app-alerts>